<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxh.impl.tmpGoodsRecord.TmpGoodsRecordMapper">
	<!-- 查询临时列表 -->
   	<select id="getTmpGoodsRecordList" parameterType="Map" 
   		resultType="com.qxh.model.TmpGoodsRecord">	
		SELECT goodsNm,unitNm,spec,num,price,
		date_format(createTime,"%Y-%m-%d %H:%i") createTime
		FROM tmpgoodsrecord WHERE centerId=#{structId}
		<include refid="getTmpGoodsRecord"></include>
		ORDER BY atNo DESC
		LIMIT ${page},${pageSize}
   	</select>
   	
   	<!-- 查询临时列表数量 -->
   	<select id="getTmpGoodsRecordCount" parameterType="Map" resultType="int">	
		select count(*) from tmpgoodsrecord where centerId=#{structId}
   		<include refid="getTmpGoodsRecord"></include>
   	</select>
   
	<sql id="getTmpGoodsRecord">
   		<if test=" stime!='' ">
   		<![CDATA[      
		   	and createTime>=#{stime}
		]]>   	
   		</if>	 
   		<if test=" etime!='' ">
   		<![CDATA[ 
		   	and createTime<=#{etime}
   		]]>  
   		</if>	   	    	       				
	</sql>
	
</mapper> 