.myborder{
	margin:15px;
	border:1px solid #cccccc; 
	min-height:600px;
	background:white;
}
.toTop{
	margin-top:20px
}
.header{
	border-bottom:1px solid #cccccc;
	text-align:center
}
.red{
	color:red;
}
.toleft15{
	margin-left:15px;
}
.selectwidth{
	width:150px!important;
}
.noborder{
	border:none;
}
.hand{
	cursor:pointer;
	color:#65CEA7;
	-webkit-box-shadow: none;
    box-shadow: none;
}
.tobottom{
	margin-bottom:15px;
}